@{
    ViewBag.Title = "About \"Pick and Book\"";
}
<h2>@ViewBag.Title.</h2>

<p>The idea of Pick and Book application is to provide an easy way to pick & book services in different kind of Companies.</p>
<p>The Companies are grouped in Categories. There will be added a possibility to set Working Times for Companies and to schedule booked hours.</p>
<p>The System provides search functionality by Company Name and Description. </p>
<hr />
<a href="https://telerikacademy.com/Users/Mirka" target="_blank">Mirka</a>
