@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>Hour For Ltd.</h3>

<address>
    Slivnica 189, 41<br />
    Varna, 9010<br />
    <abbr title="Phone">P:</abbr>
    0896607931
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@hour.for">Support@pick.book</a><br />
</address>