body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('/Images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color:white;
    font-weight:bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.categoryImage{
    padding: 20px;
    padding-right:70px;
    border-radius:5px;
    cursor:pointer;
}
.categoryImage:hover {
    opacity:1;
}

#pickandbook, #joinus, #contactus
{
    margin-top: 20px;
    background-position:center;
    background-size: 100%;
    padding-left:25px;
    padding-right:100px;
}

#pickandbook {
    background: url("/Images/bed.jpg") no-repeat;
    color: darkgreen;
}
#joinus {
    background: url("/Images/computer.jpg") no-repeat;
    color: darkblue;
}
#contactus {
    background: url("/Images/keyboard.jpg") no-repeat;
    color:white;
}

.img-thumbnail{
    width:100%;
}

.admin{
    color:black;
    font-weight:normal;
}

.error-number
{
    margin-top:100px;
    margin-left:100px;
    font-size:7em;
    color:white;
}
.error-text
{
    font-size:3em;
    margin-left:100px;
    color:white;
}
.error-a
{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.error-page
{
    background: url('/Images/error.png') no-repeat center center fixed;
    background-size:inherit;
}