@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="error-page">
    <div class="row">
        <div class="col-md-4">
            <h1 class="error-number">Error.</h1>
            <h2 class="error-text">@Model.Exception.Message</h2>
        </div>
    </div>
    <a class="btn btn-primary btn-lg error-a" href="/">Go home</a>
</div>